html,
body {
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.container {
  width: 100%;
  height: 100%;
  background-color: red;
  display: flex;
}

.right-div {
  background-color: #ececf4;
  width: 50%;
}

.left-div {
  padding-top: 100px;
  background-color: whitesmoke;
  width: 50%;
  justify-content: center;
  display: flex;
}

button {
  width: 300px;
  height: 30px;
  justify-content: center;
  outline: 1px solid white;
}

#submitButton {
  width: 300px;
  height: 30px;
  justify-content: center;
  outline: 1px solid white;
  background-color: #7e5ecb;
  outline: none;
}

.googleLogin img {
  width: 12px;
  height: 12px;
  margin-top: 2px;
  margin-right: 10px;
}

a {
  font-size: small;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.circle-image {
  justify-content: center;
  display: flex;
  padding-top: 150px;
}

.error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
  z-index: 50;
}

.success-message {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4caf50;
  color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.failure-message {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
  color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

input[type="password"] {
  width: 300px;
  height: 34px;
  box-sizing: border-box;
  padding: 5px 5px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 2px;
}
input[type="text"] {
  width: 300px;
  height: 34px;
  box-sizing: border-box;
  padding: 5px 5px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 2px;
}
input.errorbox {
  border: 2px solid red;
}

.animated-element {
  background-color: blue;
  animation: myAnimation 4s ease-in-out;
}

@keyframes myAnimation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
